<div class="row">
  <div class="search-jobs-summary">
	 <div class="searchBox">
      <form>
        <input type="text" class="searchJobTitle" name="job-title" onKeyDown="if(event.keyCode == 13){ document.getElementById('btnSearch').click() }" ng-model="query" placeholder="Search Job Title"></input>
        <button type="button" id="btnSearch" class="btn btn-search" ng-click="search()"><span class="glyphicon glyphicon-search"></span></button>
        </input>
      </form>
	 </div>
    <div class="insert">
      <button type="button" class="btn btn-insert"><a href="insertNewPositions.html"><span class="glyphicon glyphicon-plus"> Add</span></a></button>
    </div>
 </div>
<hr class="garis">
  <div class="col-md-6 col-sm-6 jobs-summary">
    <table class="table table-hover">
      <thead>
        <th>Job Type</th>
        <th>Job Title</th>
        <th>Status</th>
      </thead>
      <tbody>
        <tr ng-repeat="position in positions" ng-click="clickPosition(position.itr)">
          <!-- {{itr}} -->
          <td>{{position.jobType}}</td>
          <td>{{position.title}}</td>
          <td><a href="updatePosition?id={{position.id}}"><button type="button" class="btn btn-success">Open</button></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
