<div class="row">
  <div class="col-md-6 col-sm-6">
    <table class="table table-hover">
      <thead>
        <th>Job Type</th>
        <th>Job Title</th>
        <th>Status</th>
      </thead>
      <tbody>
        <tr>
          <td>Professional</td>
          <td>Sr. System Development Engineer</td>
          <td><button type="button" class="btn btn-success">OPEN</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6 col-sm-6">
    <div class="subtitle row">
      Sr. System Development Engineer
    </div>
    <div class="job-info row">
      DETAIL INFORMATION
    </div>
    <div class="job-info-content row">
      <div class="col-md-3 col-sm-3">
        Job ID
      </div>
      <div class="col-md-4 col-sm-4">
        : 0102043
      </div>
    </div>
    <div class="job-info-content row">
      <div class="col-md-3 col-sm-3">
        Job Type
      </div>
      <div class="col-md-4 col-sm-4">
        : Professional
      </div>
    </div>
    <div class="job-info-content row">
      <div class="col-md-3 col-sm-3">
        Job Division
      </div>
      <div class="col-md-4 col-sm-4">
        : Engineer
      </div>
    </div>
    <!--  -->
    <div class="job-info row">
      STATUS ISSUE
    </div>
    <div class="job-info-content row">
      <div class="col-md-3 col-sm-3">
        Status
      </div>
      <div class="col-md-4 col-sm-4">
        : <button type="button" name="button" class="btn btn-success">OPEN</button>
      </div>
    </div>
    <div class="job-info-content row">
      <div class="col-md-3 col-sm-3">
        Create Date
      </div>
      <div class="col-md-4 col-sm-4">
        : 5 Maret 2016
      </div>
    </div>
    <div class="job-info-content row">
      <div class="col-md-3 col-sm-3">
        Update Date
      </div>
      <div class="col-md-4 col-sm-4">
        : 10 Maret 2016
      </div>
    </div>
    <!--  -->
    <div class="job-info row">
      DESCRIPTION
    </div>
    <div class="job-info-content row">
      <div class="col-md-3 col-sm-3">
        Description :
      </div>
      <div class="col-md-4 col-sm-4">
        <p>
          psum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet
        </p>
      </div>
    </div>
    <div class="job-info-content row">
      <div class="col-md-3 col-sm-3">
        Qualification :
      </div>
      <div class="col-md-4 col-sm-4">
        <p>
          psum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet
        </p>
      </div>
    </div>

  </div>
</div>
