w  <div class="col-md-6 col-sm-6">
  <div ng-if="activeData" class="col-md-6 col-sm-6">
    <div class="subtitle row">
      <!-- Sr. System Development Engineer -->
      ewfsd
    </div>
    <div class="job-info row">
      DETAIL INFORMATION
    </div>
    <div class="job-info-content row">
      <div class="col-md-3 col-sm-3">
        Job ID
      </div>
      <div class="col-md-4 col-sm-4">
        : fs
      </div>
    </div>
    <div class="job-info-content row">
      <div class="col-md-3 col-sm-3">
        Job Type
      </div>
      <div class="col-md-4 col-sm-4">
        : df
      </div>
    </div>
    <div class="job-info-content row">
      <div class="col-md-3 col-sm-3">
        Job Division
      </div>
      <div class="col-md-4 col-sm-4">
        : fdf
      </div>
    </div>
    <!--  -->
    <div class="job-info row">
      STATUS ISSUE
    </div>
    <div class="job-info-content row">
      <div class="col-md-3 col-sm-3">
        Status
      </div>
      <div class="col-md-4 col-sm-4">
        : <div class="info-status">OPEN</div>
      </div>
    </div>
    <div class="job-info-content row">
      <div class="col-md-3 col-sm-3">
        Create Date
      </div>
      <div class="col-md-4 col-sm-4">
        : dfd
      </div>
    </div>
    <div class="job-info-content row">
      <div class="col-md-3 col-sm-3">
        Update Date
      </div>
      <div class="col-md-4 col-sm-4">
        : fd
      </div>
    </div>
    <!--  -->


    <div class="job-info row">
      DESCRIPTION
    </div>

  <div class="table-desc">

    <div class="job-info-content row">
      <div class="col-md-3 col-sm-3">
        Description :
      </div>




      <div class="desc">
        <p>
          fdf
        </p>
      </div>



    </div>
    <div class="job-info-content row">
      <div class="col-md-3 col-sm-3">
        Qualification :
      </div>
      <div class="desc">
        <p>
          df
        </p>
      </div>
    </div>
  </div>
</div>
</div>
