<form method="post" name="update-candidate-position" action="">
Full Name: <input type="text"></input>
  Job Type:
    <select name="new-job-type">-Job type-</div>
    <option value="" ng-repeat??></option>
  </select>
  </br>
Job Division:
<select name="new-job-division">-Job division-</div>
  <option value="" ng-repeat??></option>
</select>
</br>
  Title:
  <select name="new-title">-Title-</div>
    <option value="" ng-repeat??></option>
  </select>
  Status:
  <input type="radio" name="new-status" value="Accept">
  Accept</br>
  <input type="radio" name="new-status" value="Denied">
  Denied
</br>
<input type="reset" value="Cancel">
<input type="submit" value="Add">
</form>
