<form method="post" name="update-position" action="">
  NF
  Title: <input type="text" name="new-title">{{position-title}}</input>
</br>
  Job Type: <input type="text" name="new-job-type">{{position-job-type}}</input>
</br>
Job Division: <input type="text" name="new-job-division">{{position-job-division}}</input>
</br>
Description: <textarea name="new-desc">{{position-desc}}</textarea>
</br>
Qualification: <textarea name="new-qualification">{{position-qualification}}</textarea>
</br>
<input type="reset" value="Cancel">
<input type="submit" value="Add">
</form>
